
*{

 box-sizing:border-box;   
}

body{
    margin:0;
    background-color: #f7f7f1;
}

.header{
    font-family: 'Courier New';
    display: flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
    background-color:white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    height: 5rem;
}

.header img{
    width: 3.5rem;
}
.header h1{
    font-size: 2.5rem;
    
}

form{
    display:flex;
    justify-content: center;
    gap:.3rem;
    margin-top: 2rem;



}
form input{
    width: 40%;
    border-radius:.5rem;
    border: 1px solid #ccc;
    padding:.7rem;
    font-size: medium;
    font-weight: 600;
    margin-left:7rem;
}
form button{
    color: white;
    background-color: #1a1919;
    border: 1px solid #ccc;
    border-radius:.5rem;
    padding:.8rem;
    font-size: large;
    cursor: pointer;
}

.ingredients {
    margin-top: 2.5rem;
    margin-left:7rem ;
  }
  
  .ingredients h2 {
    font-family: Verdana;

    font-weight: bolder ;
    font-size: 1.6rem;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    margin-bottom: .8rem;
  }
  
  .ingredients ul {
    
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
   

  }
  
  .ingredients li {
    color: #575656;
    font-style: italic;
    font-family: monospace;
    font-weight:bold;
    font-size: 1.4rem;
   margin-left:1.9rem ; 
  }

  .recipe{
    font-family: verdana;
    padding: 1rem;
    margin-top: 4.5rem;
    margin-left:7rem ;
    background-color: rgb(226, 226, 222);
    max-width: 70%;
    border-radius: 1rem;
  }
.recipe button{
    color:white;
    background-color: rgb(216, 61, 4);
    border: none;
    border-radius: .3rem;
    padding: .6rem;
    font-size: large;
    font-weight:500;
    font-family: verdana;
    cursor: pointer;

}
  
.suggested-recipe-container {
 margin-left: 7rem;
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}